@media(max-width: 400px) and (min-width:323px )
    .title .pannel h1
        margin-right 20px        
    .drop-down span
        position relative
        top 20px
        left 150px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 155px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 80px
    
    .btn1 , .btn2
        position relative
        top 50px
        left 26px
    .upper-box .man
        position relative
        left 251px
    .upper-box span
        position absolute
        top 270px
        left 43px
    .upper-box .theme
        position absolute
        top 270px
        left 43px    
    .button .carousel-control
        margin-top: 2100px;
        margin-left: 500px;
    
    .button .left
        margin-left  102px
    .button .right    
        margin-right 133px
    .changing .big
        position relative
        top  50px
        left 73px
    .ch-upper-box .fa
        position relative
        top -70px
        left 10px
    .changing .carousel-control
        margin-top: 2600px;
        margin-left: 442px;
    
    .changing .left
        margin-left  110px

    .changing .right
        margin-right 110px
    .footer .image
        width 230px
        margin-top -15px
    .footer .image img
        width 25%
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 13px
    .table2 .lower-box .catch
        position: relative;
        top: 18px;
        right: 85px;
    .table2 .lower-box input 
        width: 50%;
        position: relative;
        top:-17px;
        left: 170px;
    .table2 .carousel-control 
        margin-top: 2600px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 93px;
    .BT2 .right 
        margin-right: 127px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 235px;
        top: -88px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 245px;
        top: -86px;        
    .BT2 .ch-lower-box .name 
        padding-right: 30px;
        padding-left: 30px;
        position: relative;
        bottom: 5px;
        right: 0px;    
    .BT2 .ch-lower-box .fa    
        padding-left 10px
        padding-right 10px
        position relative
        bottom -5px
        right -11px
    .BT2 .table3 .carousel-control 
        margin-top 1650px
    .BT2 .table3 .left 
        margin-left 105px
    .BT2 .table3 .right
        margin-right 100px
@media(max-width: 509px) and (min-width:400px )
    .title .pannel h1
        margin-right 60px    
    .drop-down span
        position relative
        top 20px
        left 220px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 225px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 140px
    
    .btn1 , .btn2
        position relative
        top 50px
        left 99px
    .upper-box .man
        position relative
        left 305px
    .upper-box span
        position absolute
        top 270px
        left 97px
    .upper-box .theme
        position absolute
        top 270px
        left 97px    
    .button .carousel-control
        margin-top: 2100px;
        margin-left: 500px;
    
    .button .left
        margin-left  96px
    .button .right    
        margin-right 148px
    .changing .big
        position relative
        top  50px
        left 135px
    .ch-upper-box .fa
        position relative
        top -70px
        left 10px
    .changing .carousel-control
        margin-top: 2600px;
        margin-left: 442px;
    
    .changing .left
        margin-left  162px

    .changing .right
        margin-right 108px
    .footer .image
        width 230px
        margin-top -15px
    .footer .image img
        width 25%
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 13px
    .table2 .lower-box .catch
        position: relative;
        top: 54px;
        right: 245px;
    .table2 .lower-box input 
        width: 40%;
        position: relative;
        top: 20px;
        left: 180px;
    .table2 .carousel-control 
        margin-top: 2600px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 120px;
    .BT2 .right 
        margin-right: 159px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 235px;
        top: -88px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 245px;
        top: -86px;        
    .BT2 .ch-lower-box .name 
        padding-right: 50px;
        padding-left: 50px;
        position: relative;
        bottom: 5px;
        right: 0px;    
    .BT2 .ch-lower-box .fa    
        padding-left 20px
        padding-right 20px
        position relative
        bottom -5px
        right -11px
    .BT2 .table3 .carousel-control 
        margin-top 1650px
    .BT2 .table3 .left 
        margin-left 121px
    .BT2 .table3 .right
        margin-right 145px
@media(max-width: 550px) and (min-width:509px )
    .title .pannel h1
        margin-right 40px    
    .drop-down span
        position relative
        top 20px
        left 280px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 285px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 200px
    
    .btn1 , .btn2
        position relative
        top 50px
        left 115px
    .upper-box .man
        position relative
        left 120px
    .upper-box span
        position absolute
        top 270px
        left 120px
    .upper-box .theme
        position absolute
        top 270px
        left 120px    
    .button .carousel-control
        margin-top: 2100px;
        margin-left: 500px;
    
    .button .left
        margin-left  105px
    .button .right    
        margin-right 150px
    .changing .big
        position relative
        top  50px
        left 157px
    .ch-upper-box .fa
        position relative
        top -70px
        left 10px
    .changing .carousel-control
        margin-top: 2600px;
        margin-left: 442px;
    
    .changing .left
        margin-left  125px

    .changing .right
        margin-right 162px
    .footer .image
        width 230px
        margin-top -15px
    .footer .image img
        width 25%
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 13px
    .table2 .lower-box .catch
        position: relative;
        top: 54px;
        right: 275px;
    .table2 .lower-box input 
        width: 60%;
        position: relative;
        top: 20px;
        left: 180px;
    .table2 .carousel-control 
        margin-top: 2600px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 135px;
    .BT2 .right 
        margin-right: 150px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 235px;
        top: -88px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 245px;
        top: -86px;        
    .BT2 .ch-lower-box .name 
        padding-right: 57px;
        padding-left: 85px;
        position: relative;
        bottom: 5px;
        right: -11px;    
    .BT2 .ch-lower-box .fa    
        padding-left 30px
        padding-right 30px
        position relative
        bottom -5px
        right -33px
    .BT2 .table3 .carousel-control 
        margin-top 1650px
    .BT2 .table3 .left 
        margin-left 134px
    .BT2 .table3 .right
        margin-right 140px
@media(max-width: 620px) and (min-width:550px )
    .title .pannel h1
        margin-right 20px    
    .drop-down span
        position relative
        top 20px
        left 370px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 375px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 290px
    
    .btn1 , .btn2
        position relative
        top 50px
        left 130px
    .upper-box .man
        position relative
        left 361px
    .upper-box span
        position absolute
        top 270px
        left 230px
    .upper-box .theme
        position absolute
        top 230px
        left 220px    
    .button .carousel-control
        margin-top: 2100px;
        margin-left: 500px;
    
    .button .left
        margin-left  170px
    .button .right    
        margin-right 127px  
    .changing .big
        position relative
        top  50px
        left 230px
    .ch-upper-box .fa
        position relative
        top -70px
        left 10px
    .changing .carousel-control
        margin-top: 2600px;
        margin-left: 442px;
    
    .changing .left
        margin-left  200px

    .changing .right
        margin-right 200px
    .footer .image
        width 230px
        margin-top -15px
    .footer .image img
        width 25%
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 13px
    .table2 .lower-box .catch
        position: relative;
        top: 54px;
        right: 295px;
    .table2 .lower-box input 
        width: 60%;
        position: relative;
        top: 20px;
        left: 180px;
    .table2 .carousel-control 
        margin-top: 2600px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 100px;
    .BT2 .right 
        margin-right: 179px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 235px;
        top: -88px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 245px;
        top: -86px;        
    .BT2 .ch-lower-box .name 
        padding-right: 77px;
        padding-left: 103px;
        position: relative;
        bottom: 5px;
        right: 6px;    
    .BT2 .ch-lower-box .fa    
        padding-left 50px
        padding-right 50px
        position relative
        bottom -5px
        right -6px
    .BT2 .table3 .carousel-control 
        margin-top 1650px
    .BT2 .table3 .left 
        margin-left 144px
    .BT2 .table3 .right
        margin-right 145px
@media(max-width: 681px) and (min-width:620px)
    .title .pannel h1
        margin-right 20px    
    .drop-down span
        position relative
        top 20px
        left 440px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 445px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 365px
    
    .btn1 , .btn2
        position relative
        top 50px
        left 170px
    .upper-box .man
        position relative
        left 395px
    .upper-box span
        position absolute
        top 270px
        left 184px
    .upper-box .theme
        position absolute
        top 270px
        left 184px    
    .button .carousel-control
        margin-top: 2100px;
        margin-left: 500px;
    
    .button .left
        margin-left  165px
    .button .right    
        margin-right 200px
    .changing .big
        position relative
        top  50px
        left 220px
    .ch-upper-box .fa
        position relative
        top -70px
        left 10px
    .changing .carousel-control
        margin-top: 2600px;
        margin-left: 442px;
    
    .changing .left
        margin-left  200px

    .changing .right
        margin-right 200px
    .footer .image
        width 230px
        margin-top -15px
    .footer .image img
        width 25%
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 13px
    .table2 .lower-box .catch
        position: relative;
        top: 54px;
        right: 320px;
    .table2 .lower-box input 
        width: 60%;
        position: relative;
        top: 20px;
        left: 180px;
    .table2 .carousel-control 
        margin-top: 2600px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 170px;
    .BT2 .right 
        margin-right: 261px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 235px;
        top: -88px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 245px;
        top: -86px;        
    .BT2 .ch-lower-box .name 
        padding-right: 97px;
        padding-left: 123px;
        position: relative;
        bottom: 5px;
        right: 7px;    
    .BT2 .ch-lower-box .fa    
        padding-left 70px
        padding-right 70px
        position relative
        bottom -5px
        right -24px
    .BT2 .table3 .carousel-control 
        margin-top 1650px
    .BT2 .table3 .left 
        margin-left 177px
    .BT2 .table3 .right
        margin-right 200px
@media(max-width: 729px) and (min-width:681px )
    .title .pannel h1
        margin-right 20px    
    .drop-down span
        position relative
        top 20px
        left 500px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 505px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 427px
    
    .btn1 , .btn2
        position relative
        top 50px
        left 197px
    .upper-box .man
        position relative
        left 411px
    .upper-box span
        position absolute
        top 270px
        left 200px
    .upper-box .theme
        position absolute
        top 270px
        left 200px    
    .button .carousel-control
        margin-top: 2100px;
        margin-left: 500px;
    
    .button .left
        margin-left  190px
    .button .right    
        margin-right 180px
    .changing .big
        position relative
        top  50px
        left 280px
    .ch-upper-box .fa
        position relative
        top -70px
        left 10px
    .changing .carousel-control
        margin-top: 2600px;
        margin-left: 442px;
    
    .changing .left
        margin-left  200px

    .changing .right
        margin-right 200px
    .footer .image
        width 230px
        margin-top -15px
    .footer .image img
        width 25%
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 13px
    .table2 .lower-box .catch
        position: relative;
        top: 54px;
        right: 355px;
    .table2 .lower-box input 
        width: 60%;
        position: relative;
        top: 20px;
        left: 180px;
    .table2 .carousel-control 
        margin-top: 2600px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 170px;
    .BT2 .right 
        margin-right: 261px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 235px;
        top: -88px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 245px;
        top: -86px;        
    .BT2 .ch-lower-box .name 
        padding-right: 97px;
        padding-left: 123px;
        position: relative;
        bottom: 5px;
        right: -11px;    
    .BT2 .ch-lower-box .fa    
        padding-left 70px
        padding-right 70px
        position relative
        bottom -5px
        right -33px
    .BT2 .table3 .carousel-control 
        margin-top 1650px
    .BT2 .table3 .left 
        margin-left 177px
    .BT2 .table3 .right
        margin-right 200px    
@media(max-width:767px) and (min-width: 729px)
    .navbar 
        border-radius: 0px;
    .drop-down span
        position relative
        top 20px
        left 533px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 550px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 475px
    .btn1 , .btn2
        position relative
        top 50px
        left 238px
    .upper-box .man
        position relative
        left 440px
    .upper-box span
        position absolute
        top 270px
        left 230px
    .upper-box .theme
        position absolute
        top 270px
        left 230px    
    .button .carousel-control
        margin-top: 2100px;
        margin-left: 500px;
    
    .button .left
        margin-left  198px
    .button .right    
        margin-right 198px
    .changing .big
        position relative
        top  50px
        left 280px
    .ch-upper-box .fa
        position relative
        top -70px
        left 10px
    .changing .carousel-control
        margin-top: 2600px;
        margin-left: 442px;
    
    .changing .left
        margin-left  200px

    .changing .right
        margin-right 200px
    .footer .image
        width 230px
        margin-top -15px
    .footer .image img
        width 25%
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 13px
    .table2 .lower-box .catch
        position: relative;
        top: 54px;
        right: 400px;
    .table2 .lower-box input 
        width: 60%;
        position: relative;
        top: 20px;
        left: 180px;
    .table2 .carousel-control 
        margin-top: 2600px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 170px;
    .BT2 .right 
        margin-right: 261px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 235px;
        top: -88px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 245px;
        top: -86px;        
    .BT2 .ch-lower-box .name 
        padding-right: 97px;
        padding-left: 123px;
        position: relative;
        bottom: 5px;
        right: -11px;    
    .BT2 .ch-lower-box .fa    
        padding-left 70px
        padding-right 70px
        position relative
        bottom -5px
        right -33px
    .BT2 .table3 .carousel-control 
        margin-top 1650px
    .BT2 .table3 .left 
        margin-left 177px
    .BT2 .table3 .right
        margin-right 200px    
/*small screen*/        
@media(min-width: 768px) and (max-width:991px)
    .drop-down span
        position relative
        top 20px
        left 570px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 580px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 500px
    .btn1 , .btn2
        position relative
        top 50px
        left 230px
    .upper-box .man
        position relative
        left 250px
    .upper-box span
        position absolute
        top 270px
        left 40px
    .upper-box .theme
        position absolute
        top 270px
        left 40px
    .button .carousel-control
        margin-top: 1050px;
        margin-left: 500px;
    
    .button .left
        margin-left  250px
    .button .right    
        margin-right  230px 
    .changing .big
        position relative
        top  50px
        left 300px
    .ch-upper-box .fa
        position relative
        right 10px
        top -70px
    .changing .carousel-control
        margin-top: 1350px;
        margin-left: 442px;
    
    .changing .left
        margin-left  200px

    .changing .right
        margin-right 200px
     .footer .image
        width 400px
        margin-top -45px
    .footer .image img
        width 27%
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 13px
    .table2 .lower-box .catch
        position: relative;
        top: 12px;
        right: 120px;
    .table2 .lower-box input 
        width: 60%;
        position: relative;
        top: -22px;
        left: 121px;
    .table2 .carousel-control 
        margin-top: 1248px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 315px;
    .BT2 .right 
        margin-right: 261px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 216px;
        top: -88px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 225px;
        top: -86px;        
    .BT2 .ch-lower-box .name 
        padding-right: 60px;
        padding-left: 68px;
        position: relative;
        bottom: -55px;
        right: 45px;    
    .BT2 .ch-lower-box .fa    
        padding-left 18px
        padding-right 18px
        position relative
        bottom 1px
        right -130px
    .BT2 .table3 .carousel-control 
        margin-top 932px
    .BT2 .table3 .left 
        margin-left 177px
    .BT2 .table3 .right
        margin-right 200px
    .BT2 .table3 img
        margin-right 53px
/*meduiem screen*/        
@media(min-width: 992px) and (max-width:1199px)
    .drop-down span
        position relative
        top 20px
        left 800px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 810px
        
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 730px
    .btn1 , .btn2
        position relative
        top 50px
        left 350px 
    .upper-box .man
        position relative
        left 300px
    .upper-box span
        position absolute
        top 270px
        left 90px
    .upper-box .theme
        position absolute
        top 270px
        left 90px
    .button .carousel-control
        margin-top: 1050px;
        margin-left: 500px;
    
    .button .left
        margin-left  330px
    .button .right    
        margin-right  300px
    .changing .big
        position relative
        top  50px
        left 400px
    .ch-upper-box .fa
        position relative
        right 0px
        top -70px
    .changing .carousel-control
        margin-top: 1350px;
        margin-left: 442px;
    
    .changing .left
        margin-left  300px

    .changing .right
        margin-right 300px
    .footer .image
        width: 50%;   
    .BT2 .upper-box .theme
        position absolute
        top 270px
        left 15px
    .table2 .lower-box .catch
        position: relative;
        top: 49px;
        right: 284px;
    .table2 .lower-box input 
        width: 60%;
        position: relative;
        top: 14px;
        left: 134px;
    .table2 .carousel-control 
        margin-top: 1248px;
        background: none;
        margin-bottom: 36px;
    .table2 .left 
        margin-left: 380px;
    .BT2 .right 
        margin-right: 380px;
    .BT2 .ch-box1 .end 
        position: relative;
        left: 250px;
        top: -84px;
    .BT2 .ch-box1 .point .fa 
        position: relative;
        left: 263px;
        top: -86px;    
    .BT2 .ch-lower-box .name 
        padding-right: 81px;
        padding-left: 88px;
        position: relative;
        bottom: 2px;
        right: 11px;    
    .BT2 .ch-lower-box .fa    
        padding-left 43px
        padding-right 43px
        position relative
        bottom -7px
        right -10px
    .BT2 .table3 .carousel-control 
        margin-top 846px
    .BT2 .table3 .left 
        margin-left 281px
    .BT2 .table3 .right
        margin-right 295px
                             
/*large screen*/
@media(min-width: 1200px)
    .drop-down span
        position relative
        top 20px
        left 1000px
        font-size 23px

    .drop-down .fa
        position relative
        top 20px
        left 1010px
    .drop-down .menu .dropdown-menu
        position absolute
        top 53px
        left 930px    
    .btn1 , .btn2
        position relative
        top 50px
        left 450px
    .changing .big
        position relative
        top  50px
        left 480px    
        